[client]
port=3306
default-character-set=utf8
#socket=/home/mysql/mysql.sock
[mysqld]
#datadir=/home/mysql
#socket=/home/mysql/mysql.sock
#bind-address=127.0.0.1
#skip-name-resolve
default-character-set=utf8
max_connections=160
interactive_timeout=310000
wait_timeout=31000
query_cache_size=48M
table_cache=320
tmp_table_size=52M
thread_cache_size=8
sort_buffer_size=256K
innodb_thread_concurrency=8
myisam-recover=FORCE
max_allowed_packet=32M
innodb_file_per_table=1
